* {
  margin: 0;
}
html,body {
  font-family: brandon-grotesque, sans-serif;
}
p {
  font-size: 20px;
}
.layout {
  height: 100vh;
}
.top {
  position: relative;
}
.top-h1 {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 40px;
  letter-spacing: 1px;
}
.top-img {
  display: inline-block;
  width: 50px;
  border-radius: 50%;
  padding-right: 12px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content {
  max-width: 545px;
}
.about-item {
  display: inline-block;
  padding: 18px;
}
.about-item > img {
  display: block;
  width: 70px;
}

@media screen and (max-width:600px) {
  .about-item > img {
    display: block;
    width: 50px;
  }
}